html {
  font-size: 62.5%;
}

body {
  line-height: 1.4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2, h3, h4 {
  font-weight: 300;
  margin: 0;
}

img {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg2.jpg");
  overflow-x: hidden;
}
.container__heading {
  font-size: 10rem;
  color: transparent;
  text-align: center;
  margin: 0;
  animation: changeColor 5s linear infinite;
  text-transform: uppercase;
  -webkit-text-stroke: 5px #e74c3c;
}

@keyframes changeColor {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
.main__score {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: #e74c3c;
}
.main__score-title {
  font-size: 4rem;
  font-weight: bold;
}
.main__score-number {
  font-size: 4rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.change-bg-btn {
  width: 50px;
  position: absolute;
  content: "";
  left: 50px;
  bottom: 100px;
  display: flex;
  background-color: #a29bfe;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
}

.change-music-btn {
  width: 50px;
  position: absolute;
  content: "";
  left: 50px;
  bottom: 200px;
  display: flex;
  background-color: #a29bfe;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
}

#input-bg,
#input-music {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  background-color: #a29bfe;
  color: #fff;
  transition: all 0.5s linear;
}

#input-bg::placeholder,
#input-music::placeholder {
  color: #fff;
}

.change-bg-btn ion-icon,
.change-music-btn ion-icon {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  transition: all 0.5s linear;
}

@keyframes changeColorInput {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
}
.change-bg-list {
  width: 200px;
  background-color: #a29bfe;
  position: absolute;
  content: "";
  right: 10px;
  top: 700px;
  padding-left: 0;
  padding-right: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s linear;
  animation: slideInLeft 0.2s linear;
  display: none;
}

.change-music-list {
  width: 200px;
  background-color: #a29bfe;
  position: absolute;
  content: "";
  right: 10px;
  top: 300px;
  padding-left: 0;
  padding-right: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s linear;
  animation: slideInLeft 0.2s linear;
  display: none;
}

.change-bg-list li,
.change-music-list li {
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  background-color: #81ecec;
}

.change-bg-list li:hover,
.change-music-list li:hover {
  color: #fff;
  background-color: #000;
}

.change-bg-list li:hover ul,
.change-music-list li:hover ul {
  background-color: #000;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.change-bg-btn.active ~ .change-bg-list,
.change-music-btn.active ~ .change-music-list {
  display: block;
}

.change-bg-btn.active,
.change-music-btn.active {
  padding: 2px 5px;
  width: 250px;
}

.change-bg-btn.active #input-bg,
.change-music-btn.active #input-music {
  display: block;
}

.change-bg-btn.active ion-icon,
.change-music-btn.active ion-icon {
  transform: rotate(90deg);
}

.main {
  width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#bg-main {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-main.hide ~ .barrier1,
#bg-main.hide ~ .barrier2 {
  display: block;
}

.barrier1 {
  position: absolute;
  width: 400px;
  height: 150px;
  content: "";
  top: 76px;
  left: 150px;
  background-color: #a29bfe;
  display: none;
  opacity: 0.96;
}

.barrier2 {
  position: absolute;
  width: 400px;
  height: 150px;
  content: "";
  top: 486px;
  left: 150px;
  background-color: #a29bfe;
  display: none;
}

.change-level {
  position: absolute;
  right: 0;
  content: "";
  background-color: #81ecec;
  width: 100px;
  padding-left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.change-level li:hover {
  color: #fff;
  background-color: #000;
}

.change-level li {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.change-level li.active {
  background-color: #a29bfe;
  color: #fff;
}

.gameover {
  position: absolute;
  content: "";
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #a29bfe;
  font-weight: bold;
  display: none;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1), 0 0 0 1000px rgba(255, 255, 255, 0.95);
  z-index: 100;
  background-color: #e74c3c;
  padding: 0 20px;
  border-radius: 10px;
}

.restart {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #a29bfe;
  font-weight: bold;
  display: none;
  cursor: pointer;
  animation: changeColor 3s linear infinite;
  z-index: 100;
  background-color: #e74c3c;
  padding: 0 20px;
  border-radius: 10px;
}

.esc-text {
  position: absolute;
  content: "";
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #a29bfe;
  font-weight: bold;
  display: none;
  animation: changeColor 3s linear infinite;
  z-index: 100;
  border-radius: 10px;
}

.pausegame {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #a29bfe;
  font-weight: bold;
  display: none;
  cursor: pointer;
  animation: changeColor 3s linear infinite;
  z-index: 100;
  background-color: #e74c3c;
  padding: 0 20px;
  border-radius: 10px;
}

.play {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #a29bfe;
  font-weight: bold;
  display: none;
  cursor: pointer;
  animation: changeColor 3s linear infinite;
  z-index: 100;
  padding: 0 20px;
  border-radius: 10px;
  -webkit-text-stroke: 5px #e74c3c;
}

.play:hover {
  background-color: #e74c3c;
}

.gameover.active {
  display: block;
}

.restart.active {
  display: block;
}

.esc-text.active {
  display: block;
}

.pausegame.active {
  display: block;
}

.play.active {
  display: block;
}

.handle {
  font-size: 50px;
  color: #fff;
  display: none;
  position: absolute;
  content: "";
  top: 50%;
  left: -200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #a29bfe;
}

.change-level.remote ~ .handle {
  display: block;
}

.top-btn {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.left-btn {
  position: absolute;
  content: "";
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  cursor: pointer;
}

.right-btn {
  position: absolute;
  content: "";
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
}

.bot-btn {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
